{% extends 'nav.html' %}

{% block title %}
Tech Hub
{% endblock title %}

{% block form %} 

<h1 data-aos-delay="100">

  <h1>Reset Password</h1> 

  <div class="main">
    <section class="signup">
    
    <div class="container">
    <div class="signup-content">
      

      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

    <form method="POST"  id="signup-form" class="signup-form">
      {% csrf_token %}
    <h2 class="form-title">Enter your Email</h2>
    <br>
    <br>
    <div class="form-group">
      <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" />
    </div><br>
    
    <div class="form-group">
    <input type="submit" name="submit" id="submit" class="form-submit" value="Request Password" />
    </div>
    </form>
    <br>
    <p>
       
     <a href="{% url 'signup' %}" class="loginhere-link"> <--- Go Back</a>

    </p>
    </div>
    </div>
    </section>
    </div>
    <style>
     .form-submit:hover{
      background-color: black;
      color: white;
      border: radius 8px;
     }
     .form-input{
      border-radius: 9px;
     }
     .form-group .form-submit{
      border-radius: 8px;
     }
    

    </style>
{% endblock form %}