{% extends 'nav.html' %}

{% block title %}
Tech Hub
{% endblock title %}

{% block form %} 

<h1 data-aos-delay="100">

  <h1>Set new Password</h1> 

  <div class="main">
    <section class="signup">
    
    <div class="container">
    <div class="signup-content">
      
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

    <form method="POST" action="{% url 'set-new-password' uidb64 token %}" id="signup-form" class="signup-form">
      {% csrf_token %}
 
      <div class="form-group">
      <input type="text" class="form-input" name="pass1" id="password" placeholder="Password" />
      <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
      </div><br>
      <div class="form-group">
      <input type="password" class="form-input" name="pass2" id="re_password" placeholder="Repeat your password" />
      </div><br>
    
    <div class="form-group">
    <input type="submit" name="submit" id="submit" class="form-submit" value="Reset Password" />
    </div>
    </form>

    </div>
    </div>
    </section>
    </div>
    <style>
     .form-submit:hover{
      background-color: black;
      color: white;
      border: radius 8px;
     }
     .form-input{
      border-radius: 9px;
     }
     .form-group .form-submit{
      border-radius: 8px;
     }
    

    </style>
{% endblock form %}